* {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
  width: 100%;
  margin-top: 50px;
  display: block;
  text-align: center;
}

#cont-img {
  border-radius: 20px;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 500px;
  margin-left: -150px;
}

.link {
  background-color: rgb(251, 241, 227);
  margin-top: 30px;
  padding: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.link:hover {
  background-color: azure;
  box-shadow: 10px 5px 50px rgb(138, 136, 136);
}

@media (max-width: 500px) {
  .link {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
